*{
    margin: 0;
    padding: 0;
}

body{

    background: #eeeeee;

}

.cabecalho{
    width: 100%;
    height: auto;
    background-color: #e0e4e3;
    height: 80px;
}

.logo{
    width: 100px;
    height: 80px;
    float: left;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    font-size: 0;
    margin-left: 20px;
    cursor: pointer;
    
}

.cabecalho form{
    width: 30%;
    float: right;
    margin-top: 10px;

}

.cabecalho input{
    width: 70%;
    height: 40px;
    float: left;
    padding: 15px 10px;
    border-radius: 7px;
    border-color: #dbd7d7;
}

.cabecalho input[type="text"]{
    width: 60%;
    float: left;
    padding: 15px 15px ;
    border-radius: 5px 0 0 5px;


}
.cabecalho ion-icon{
    font-size: 30px;
    cursor: pointer;
    height: 40px;
}

.cabecalho ion-icon:hover{
   background-color: #feffff;
   
}



.menu{
    width: 100%;
    float: left;
    background-color: #111111;
    height: 50px;
    margin-top: -10px;

    

}
.menu li{
    float: left;
    margin-top: 10px;

}
.menu li a{
    font-size: 20px;
    color:azure;
    list-style-type: none;
    text-decoration: none;
}

.menu li a:hover{
    color:#00b8e4;
}

.menu .login{
    display: flex;
    justify-content: end;
    margin-right: 100px ;
}

.menu .login a ion-icon{
    font-size: 35px;
    
}

.container-carousel{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 300px;
    margin-top: 100px;
    opacity: 1;
}


.list-icone{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;

}

.list-icone .icon{
    display: block;
    margin-left: 30px;
   cursor: pointer;

}
.list-icone .icon:hover{
    background: #e7e7e9;
    cursor: pointer;
}


.list-icone .icon ion-icon{
    font-size: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.list-icone .icon p{
    text-align: center;
}


.cards{
    width: 100%;
    height: 100vh;
    display: flex;
}

 h3{
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

 .cards .card{
    width: auto;
    height: 80%;
    margin-left: 30px;
    margin-right: 50px;
    justify-content: center;
    margin-top: 5%;
    box-shadow: 10px 10px 10px #999797;
    display: block;
    background: #fafafa;

 }
 .cards .card img{
    margin-left: 60px;
    margin-right: 50px;
    width: 250px;
    height: 150px;
    margin-top: 10px;

 }

 .cards .card h3{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
 }

 .cards .card p{
    text-align: center;
    font-size: 18px;
    max-width: 370px;
 }

 .cards .card .card-button{
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 20px;
     
 }

 .cards .card .card-button button{ 
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: yellow;
    
 }

 .list-servicos{
    width: 100%;
    margin-top: 50px;
 }
 
 .list-servicos .align{
     justify-content: end;
     margin-top: 100px;
 }
 .list-servicos h3{
     text-align: center;
     font-size: 30px;
 }
 
 .list-servicos .servico{
     display: flex;
     align-items: center;
     margin-left: 50px;
     padding: 20px;
     margin-top: 20px;
 }
 
 .list-servicos .servico img{
     height: 150px;
 }
 
 .list-servicos .servico p{
     width: 400px;
     font-size: 20px;
     margin-left: 50px;
     
 }
 
 .list-servicos .servico a{
     list-style-type: none;
     text-decoration: none;
 }

 .list-social{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
 }

 .list-social a{
     color: #111111;
 }

 .list-social ion-icon{
     font-size: 30px;
     margin-left: 10px;
 }

 .list-social ion-icon:hover{
    background: #e0d7d7;
}
.list-social h5{
    font-size: 20px;

}

 .footer{
     width: 100%;
     height: auto;
     background: #3a3c49;
 }

 .footer p{
     color: #ffffff;
 }

 .footer .footer-list{
     display: flex;
     padding: 10px;
     justify-content: space-around;
 }

 .footer .footer-list .footer-content{
     padding: 20px;
     margin-top: 10px;
 }

 .footer .footer-list .footer-content a{
    list-style-type: none;
    text-decoration: none;
 }

 .footer .footer-list .footer-content a p{
    margin-top: 10px;
    font-size: 14px;
 }
 .footer p{
     text-align: center;
 }

 .list-component{
     width: 100%;
     height: 100vh;
     background-color: transparent;
     opacity: 1.9;
     position: fixed;
     top: -4px; 
     display: none;
      
 }

 .list-component .modals{
    width:60%;
    height: 90%;
    background: rgb(178, 187, 206); 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
 }
 

 .list-component .modals .align-logo{
     display: flex;
     justify-content:space-around;
     align-items: center;
     margin-left: 330px;
     
 }

 .list-component .modals .align-logo img{
    cursor: pointer;   
}

 .list-component .modals .align-logo ion-icon{
     margin-left: 300px;
     font-size: 30px;
     cursor: pointer;
 }

 .list-form{
     display: flex;
     justify-content: space-around;
     margin-top: 50px;
     overflow: hidden;
    
 }

 .list-form .cadas-form{
  width: 40%;
  background: #ffff;
  box-shadow: 10px 10px 10px rgb(223, 223, 223);

}

.list-form .cadas-form .align-icone{
    display: flex;
    justify-content: center;
}

 .list-form .cadas-form p{
    text-align: center;  
    font-size: 20px; 
  
}

 .list-form .cadas-form form .align-input{
    margin-top: 30px;
    margin-left: 10%;
 }
 .list-form .cadas-form form .align-input input{
    width: 250px;
    padding: 5px;
    border-radius: 7px;
    border-color: #dbd7d7;
 }

 .list-form .cadas-form form .align-input input[type="submit"]{
   background-color: rgb(51, 194, 94);
   color: #fafafa;
 }

 .list-form .login-form{
    box-shadow: 10px 10px 10px rgb(224, 219, 219);
    height: 330px;
    background:#fff ;
 }
 .list-form .login-form p{
    text-align: center;
     font-size: 20px;
}

 .list-form .login-form {
     width: 300px;
     margin-top: 50px;
     display: block;
 }

 .list-form .login-form .align-icone{
     display: flex;
     justify-content: center;
     margin-top: 10px;
 }

 
 .list-form .login-form form .align-input {
    margin-top: 40px;
    justify-content: center;
    margin-left: 18%;
    margin-right:30%;
}

.list-form .login-form form .align-input input {
   padding:5px;
   border-radius: 7px;
   border-color: #dbd7d7;
}


.list-form .login-form form .align-input input[type="submit"] {
  width: 195px;
  background: yellow;
}


 
 

  







